@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ver Listado de Cadetes";
}
@model List<TP3_LunaClaraso.Models.Cadete>
<!--TABLA DE CADETES-->
<h5>LISTADO DE CADETES </h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Teléfono</th>
            
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>@item.Telefono</td>
                
                <td><form class="row g-3" asp-action="BorrarCadete" asp-controller="Cadete" method="post">
    <div class="col-md-6 mt-3">
        <input type="hidden" id="idCadete" name="idCadete" value="@item.Id">
        <button type="submit" class="btn btn-primary" onclick="return confirm('¿Seguro que desea eliminar al cadete @item.Nombre?')">Eliminar Cadete</button>
    </div>
</form></td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Cadete" asp-action="AltaCadete"><button type="button" class="btn btn-success">Añadir Cadete</button></a>
