@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ver Pedidos";
}
@model  Cadeteria

<!--TABLA DE PEDIDOS-->
<h5>LISTADO DE PEDIDOS </h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del Cliente</th>
            <th scope="col">Direccion del Cliente</th>
            <th scope="col">Teléfono del Cliente</th>
            <th scope="col">Observacion</th>
            <th scope="col">Estado</th>
            
            <th scope="col">Acciones</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pedidos)
        {
        <tr>
            <th scope="row">@item.Nro</th>
            <td>@item.Cliente.Nombre</td>
            <td>@item.Cliente.Direccion</td>
            <td>@item.Cliente.Telefono</td>
            <td>@item.Observacion</td>
            <td>@item.Estado</td>
           
            <td>
                @Html.ActionLink("Eliminar", "EliminarPedido", new { idPedido = item.Nro }, new { @class = "btnagre" })
            </td>

        </tr>
        }
    </tbody>
</table>
<a asp-controller="Pedido" asp-action="AltaPedido"><button type="button" class="btn btn-success">Añadir Pedido</button></a>
